@import url('http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 2000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns:1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.container .left_Side
{
    position: relative;
    background: #003147;
    padding: 40px;
}

.profileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.profileText .img
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .img img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2
{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profileText h2 span
{
    font-size:0.8em;
    font-weight: 300;t
}

.contactInfor
{
    padding-top: 40px;
}

.title
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInfor ul
{
    position: relative;
}

.contactInfor ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfor ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.contactInfor ul li span
{
    color: #fff;
    font-weight: 300;
}

.contactInfor.education li
{
    margin-bottom: 15px;   
}

.contactInfor.education h5
{
    color: #03a9f4;
    font-weight: 500;   
}

.contactInfor.education h4:nth-child(2)
{
    color: #fff;
    font-weight: 500;    
}

.contactInfor.education h4
{
    color: #fff;
    font-weight: 300; 
}

.contactInfor.language .percent
{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}

.contactInfor.language .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

.lg
{
    text-align: right;
    padding-right: 20px;
    line-height: 30px;
    color: white;
    background-color: #424242;
    animation: animate 4s ease-in-out forwards;
}


@keyframes animate
 {
     from
     {
        width: 0;
     }
 }

.ch
{
    width: 85%;
}


.en
{
    width: 45%;
}


.tw
{
    width: 70%;
}

.container .right_Side
{
    position: relative;
    background: #fff;
    padding: 40px;
}

.about
{
    margin-bottom: 50px;
}

.about:last-child
{
    margin-bottom: 0;
}

.title2
{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p
{
    color: #333;
}

.about .box
{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .ex1
{
    min-width: 150px;
}

.about .box .ex1 h5
{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}

.about .box .text h4
{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}

.skill .box
{
    position: relative; 
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;    
    align-items: center;
}

.skill .box h4
{
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}

.skill .box .percent
{
    position: relative; 
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}

.skill .box .percent div
{
    position: absolute; 
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

.skills
{
    text-align: right;
    padding-right: 20px;
    line-height: 30px;
    color: white;
    background-color: #424242;
    animation: animate 4s ease-in-out forwards;
}

 @keyframes animate
 {
     from
     {
        width: 0;
     }
 }

.JAVA
{
    width: 40%;
}


.Html
{
    width: 85%;
}


.CSS
{
    width: 70%;
}


.Python
{
    width: 60%;
}

.JavaScrpit
{
    width: 60%;
}

.NET
{
    width: 60%;
}

.interest ul
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.interest ul li
{
     list-style: none;
     color: #333;
     font-weight: 500;
     margin: 10px 0;
}

/*---------------------- start icons-------------------*/
#ic .iconsss
{
  /*border: 2px solid black;*/
  position: fixed;
  top: 30%;
  right: 0%;
  width: 200px;
  display: flex;
  flex-direction: column;
  z-index: 9999; 
}

.iconsss a 
{

  text-decoration: none; 
  padding: 10px;
  font-size: 22px;
  font-family: 'Oswald', sans-serif;
  margin: 5%;
  text-align: left;
  border-radius: 50px 0px 0px 50px;
  transform: translate(130px,0px);
  transition: all 0.5s;
}
#ic .iconsss a:hover
{
  transform: translate(0px,0px);
}

.facebook
{
  background: rgba(200, 200, 250, 0.5);
  color: #fff;
}

.instagram
{
  background: rgba(600, 200, 250, 0.5);
  color: #fff;
}

.github
{
  background: rgba(600, 600, 250, 0.5);
  color: #fff;
}


/*-------網頁作品--------*/

.webpage h2
{
    margin: 50px auto;
    font-weight: bold;
    text-align: center;

}



.webpage{
    line-height: 1.0em;
    letter-spacing: 1px;
    font-weight: 300;
    padding: 12px 50px 12px 50px;
    max-width: 980px;

}

.webpage1{
    width: 80%;
    height: 300px;
    /*background-color: red; */
    margin-right: 50%;
    margin-top: 30px;
    float: right;
    transform: translateX(50%);
}
.webpage2{
    width: 80%;
    height: 300px;
    /*background-color: red;*/
    margin-left: 50%;
    float: left;
    margin-top: 50px;
    transform:translateX(-50%);
}


.webpageW{
    width: 30px;
    margin-top: 30px;
    font-size: 15px;
}
.webpageWord{
    display: inline-block;
}
.webpage1img{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    float: right;
    margin-top: -130px;
    box-shadow:3px 3px 5px 6px #cccccc;
    overflow: hidden;
    max-width: 980px;
}
.webpage1img img{
    width: 100%;
}
.webpage1img:hover{
    transform:rotate(20deg);
}
.button{
    position: absolute;
    width: 145px;
    height: 40px;
    background-color:#FFFFFF;
    font-size: 17px;
    line-height: 35px;
    text-align: center;
    border-style: solid;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #222;
}
.button:hover{
    background-color:#222;
    color: #FFFFFF;
}

.interest ul li .fa
{

     width: 100px;
}

@media (max-width: 1000px)
{
    .container
    {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .interest ul
    {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 600px)
{
    .about .box
    {
        flex-direction: column; 
    }
    .about .box .ex1
    {
        margin-bottom: 5px;
    }
    .interest ul
    {
        grid-template-columns: repeat(1,1fr);
    }
    .skills .box
    {
        grid-template-columns: repeat(1,1fr);
    }
}